<section class="users-page">
    <div class="list-users">
        <h3>Usuários Cadastrados</h3>
        <table class="table-list">
            <tr>
                <th></th>
                <th>Nome</th>
                <th class="td-options">Opções</th>
            </tr>
            <ng-container *ngIf="!loading">
                <ng-container *ngFor="let item of list; let i = index">
                    <tr [class]="{ striped: isOdd(i) }">
                        <td class="td-image">
                            <div *ngIf="item.picture" class="image">
                                <img [src]="item.picture" alt="Foto de {{ item.firstName }}" />
                            </div>
                        </td>
                        <td>
                            <span *ngIf="item.title">
                                {{ item.title }}
                            </span>
                            <span *ngIf="item.firstName">
                                {{ item.firstName }}
                            </span>
                            <span *ngIf="item.lastName">
                                {{ item.lastName }}
                            </span>
                        </td>
                        <td class="td-options">
                            <div class="options">
                                <button
                                    type="button"
                                    class="btn"
                                    title="Ver {{ item.firstName }}"
                                    (click)="showUser(item.id)"
                                >
                                    <img [src]="iconView" alt="Ver {{ item.firstName }}" />
                                </button>
                                <button
                                    type="button"
                                    class="btn"
                                    title="Remover {{ item.firstName }}"
                                    (click)="changeUserToDelete(item.id)"
                                >
                                    <img [src]="iconTrash" alt="Remover {{ item.firstName }}" />
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="loading">
                <tr>
                    <td colspan="3">
                        <div class="loading">
                            <img [src]="imageLoading" aria-hidden="true" />
                        </div>
                    </td>
                </tr>
            </ng-container>
        </table>
        <pagination-component [total]="listTotal" [limit]="limit" [page]="page" (change)="changePage($event)" />
    </div>
    <confirm-dialog
        *ngIf="showDialogDeleteUser"
        [message]="messageDeleteUser"
        (confirm)="confirmDeleteUser()"
        (cancel)="cancelDeleteUser()"
    />
</section>