<section class="user-edit-page">
    <header>
        <div class="back">
            <button type="button" (click)="goToBack()" class="btn btn-sm" title="Voltar">
                <img [src]="iconBack" alt="Voltar para lista de usuários">
            </button>
        </div>
        <div class="title">
            <h3>EDITAR USUÁRIO</h3>
        </div>
    </header>
    <section *ngIf="!loading" class="content">
        <div class="user-avatar">
            <div class="box-avatar">
                <div class="avatar">
                    <img *ngIf="picture" [src]="picture" alt="Imagem do usuário" />
                    <img *ngIf="!picture" [src]="iconNoImage" />
                </div>
            </div>
        </div>
        <div class="user-form">
            <user-form-component
                [payload]="user"
                [buttonSave]="'Salvar Alterações'"
                [buttonRestore]="'Restaurar original'"
                [showButtonClean]="false"
                [showButtonRestore]="true"
                [disabledEmail]="disabledEmail"
                (submited)="updateUser($event)"
                (restored)="restoreUser()"
                (changePicture)="changePicture($event)"
            />
        </div>
    </section>
    <section *ngIf="loading">
        <div class="loading">
            <img [src]="imageLoading" aria-hidden="true" />
        </div>
    </section>
</section>
<loading-component [show]="loadingPage" />