.user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;

    .form-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-block: 1.5rem;
        gap: 2rem;
    }
}