:root {
  --primary: #c00;
  --primary-text: #fff;
  --primary-hover: rgb(173, 2, 2);
  --primary-active: rgb(145, 1, 1);
  --secondary: #000;
  --secondary-hover: #0c0c0c;
  --secondary-active: #000;
  --secondary-text: #fff;
  --background: #ededed;
  --black-full: #000000;
  --white-full: #ffffff;
  --white-off: #e4e4e4;
  --red: #a10000;
  --border: #C9C9C9;
}

.primary {
  background: var(--primary);
  color: var(--primary-text);
}

.secondary {
  background: var(--secondary);
  color: var(--secondary-text);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}